@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    background: transparent;
    cursor: pointer ;
    color: #03a9f4;
}
ul{
    list-style: none;
}

/* Smooth Scroll */
html{
    scroll-behavior: smooth;
}

/* Utility Classes */
.text-secondary{
    color: #55BA53;
}
.text-center{
    text-align: center;
}
.bg1-py-3{
    background: #cfcfcf;
}
.bg-secondary{
    background: #55BA53;
}


.py-0{padding: 16px 0;}
.py-1{padding: 24px 0;}
.py-2{padding: 32px 0;}
.py-3{padding: 48px 0;}

.p-0{padding: 16px;}
.p-1{padding: 24px;}
.p-2{padding: 32px;}
.p-3{padding: 48px;}
.p-4{padding: 1px;}

.wrapper{
    max-width: 1320px;
    padding: 0 50px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.btn{
    display: inline-block;
    padding: 9px 16px;
    margin-right: 30px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    transition: all 0.5s ease;
    border: 3px solid;
    border-radius: 15px;
    
}
.showcase .showcase-content .btn-left:hover {
    
    background-color: transparent;
    color: #03a9f4;
    border-color: #03a9f4;
}
.showcase .showcase-content .btn-right:hover {
    
    background-color: transparent;
    color: #03a9f4;
    border-color: #03a9f4;
}




/* Showcase Area Styling */

.showcase{
    width: 100%;
    height: 100vh;
}

/* Top Navbar */

nav{
    display: flex !important;
    height: 53px;
    width: 100%;
    background: black;
    align-items: center;
    justify-content: space-between;
    padding: 6px 50px 70px 100px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  nav .logo{
    color: #fff;
    padding-top: 10px;
    font-size: 35px;
    font-weight: 600;
  
  }
  nav ul{
    display: flex;
    padding-top:  10px;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
  }
  nav ul li a:hover{
    color: #55BA53;
    text-decoration: none;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 52px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 13px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      font-family: 'Poppins', sans-serif;
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: #55BA53;
      text-decoration: none;
    }
  }
  .logo img {
      height: 45px;
      margin-top: -15px;
      border: 1px solid white;
      border-radius: 4px;
  }
/* Navbar Bottom Search Form */
nav .search-form{
    position: absolute;
    top: 104%;
    right: 4%;
    background: #f4f4f4;
    width: 350px;
    height: 28px;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.5s  ease-in-out;
}
nav .search-form.active{
    transform: scaleY(1);
}

nav .search-form input{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border: none;
    background: #f4f4f4;
    color: #1A1B1E;
    padding: 14px;
    text-transform: none;
    outline: none;
}
nav .search-form label{
    cursor: pointer;
    font-size: 30px;
    border: none;
    margin-right: 12px;
    font-family: 'Poppines', cursive;
}
nav .search-form label:hover{
    color: rgb(45, 60, 130);
  
}


/* Showcase-content Section styling */
#carouselExampleIndicators{
	position: relative;
	height: 100vh;
	width: 100%;
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
.showcase .showcase-content h1{
    color: #55BA53;
    font-family: 'Poppins', cursive;
    font-size: 60px;
    margin: 35px 0;

}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	
top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background:linear-gradient(#000000c4, rgba(0,0,0,0.6)), url('https://images.pexels.com/photos/6771607/pexels-photo-6771607.jpeg') ;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background: linear-gradient(#000000c4, rgba(0,0,0,0.6)),url('https://images.pexels.com/photos/5845704/pexels-photo-5845704.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') rgba(0, 0, 0, 0.45);
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: linear-gradient(#000000c4, rgba(0,0,0,0.6)),url('https://images.pexels.com/photos/5561914/pexels-photo-5561914.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') rgba(0, 0, 0, 0.45);
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
    right: 0%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}

.showcase .showcase-content .btn-left{
  
    border: 3px solid white;
    border-radius: 15px;
    border-radius: 12px;
    cursor: pointer;
    color: white;


}
.showcase .showcase-content .btn-right{
    border: 3px solid white;
    border-radius: 15px;
    border-radius: 12px;
    cursor: pointer !important;
    color: white;
}


/* Showcase Area Styling
 /* Services Section Styling */
 #services .items{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 40px;

}
#services .items .item{
    text-align: center;
    position: relative;
    width: 220px;
    height: 250px;
    margin: 30px;
    padding: 20px;
    background: #0A2940;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3), -5px -5px 20px rgba(0, 0, 0, 0.3), 5px 5px 20px rgba(0, 0, 0, 0.05),  -5px -5px 20px rgba(255, 255, 255, 0.05);
    transition: all 0.5s ease;
}
#services .items .item h3{
    color: #55BA53;
    font-size: 1.25em;
    margin: 5px;
}
#services .items .item p{
    line-height: 1.4;
    color: #95A2BB;
}
#services .items .item i{
    color: #95A2BB;
}
#services .items .item:hover i{
    color: #55BA53;
}
#services .items .item a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background-color: #03a9f4;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    font-weight: 400;
}
#services .items .item a:hover {
    background-color: #fff;
    color: #03a9f4;
}
#services .items .item:hover{
    background:#0A2940;
    transform: translateY(-25px);
}
#services .items .item:hover h3{
    color: #f4f4f4;
}


/* Services Section Bottom */
#goal{
    display: flex;
    flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
    padding-top: 20px;
}
#goal div{
    flex: 1;
}
#goal .goal-img{
    display: inline-block;
    position: relative;
    width: 600px;
    height: 380px;
    overflow: hidden;
}
#goal .goal-img img{
    width: auto;
    height: 100%;
    object-fit: cover;
}
#goal .goal-text{
    margin: 0 40px;
}
#goal .goal-text a{
    color: #f4f4f4;
    background: #55BA53;
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #55BA53;
    border-radius: 25px;
    padding: 3px 10px;
    transition: 0.5s;
}
#goal .goal-text a:hover{
    color: #55BA53;
    background: #0A2940;
}
#goal .goal-text h2{
    margin: 20px 0;
    color: #0A2940;
}
#goal .goal-text .contents{
    display: flex;
}
#goal .goal-text .contents .content{
    flex: none;
    padding: 10px;
}
#goal .goal-text .contents .content h3{
    font-size: 16px;
    padding-bottom: 5px;
    color: #55BA53;
}
#goal .goal-text .contents .content p{
    color: #1A1B1E;
}
#goal .goal-text .contents .content i{
    color: #55BA53;
    padding: 3px;
    background: #0A2940;
    align-self: flex-start;
    border-radius: 5px;
    margin-right: 5px;
}

/* Testimonils Section */
#testimonials{
    text-align: center;
    background-color: #55BA53;
    color: #fff;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding:7% 15%;
}

/*Blog Section */
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding: 40px;
    background: #0A2940;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.blog-heading h3{
    margin-top: 10px;
    font-size: 2.4rem;
    color: #cfcfcf;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    border-radius: 10px;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
    text-decoration: none;
}
.blog-text p {
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
}
.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
    text-decoration: none;
}

/* newsletter Styling */
.bg-py-3{
    background: #55BA53;
}
#contact h2{
    font-size: 40px;
    font-weight: 600;
    color: #0a2940;
    margin-bottom: 10px;
}
#contact p{
    color:#0A2940;
    line-height: 1.6;
    margin-bottom: 50px;
}
#contact .wrapper form{
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
}
#contact .wrapper form input{
    padding: 8px;
    border:  1px solid black;
    outline: none;
    border-radius: 20px;
    margin: 15px 0;
}
#contact .wrapper form .button{
    
    padding: 8px;
    margin-bottom: 100px;
    background: #0A2940;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.3s ease;
}
#contact .wrapper form .button:hover{
    background: #1A1B1E;
    color: #fff;
    cursor: pointer;
}

/* Footer Styling  */
.footer-bottom {
    background: #47B5FF;
    color: black;
}
.footer-bottom p{
    font-size: 14px;
    font-weight: 600;
}

/* bootstrap footer styling */
.bg-darkk {
    background-color: #0a2940;
}
.tcolor{
    color: #fefefe;
}
.lcolor a{
  color: white;
}


/* Scroll up Styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #0A2940;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}

/* for responsiveness */
@media only screen and (max-width:1028px ){
    .showcase .left {
        display: none;
      }
      .showcase .right{
          display: none;
      }
      .showcase .navbar-bottom .menu-right{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         margin: auto;
      }
      .showcase .navbar-bottom .menu-right li a{
          padding: 2px 0px;
          text-decoration: underline;
          text-transform: uppercase;
          color: #ccc;
  
      }
      .showcase .navbar-bottom .brand-left {
          flex-direction: column;
          
      }
      .burger{
          display: block;
      }
      .h-nav{
          height: 51px;
      }
      .v-class{
          opacity: 0;
      }
     
      .navbar-bottom .brand-left {
          display: absolute;
          top: 12px;
          right: 2%;
      }
      .showcase .showcase-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 0%;
        padding: 35px 0;
        font-size: 0.7rem;
     
      }
      .showcase .showcase-content h1{
          font-size: 28px;
          text-align: center;
      }
      .showcase .showcase-content p{
          font-size: 12px;
          text-align: center;
      }
      .showcase .showcase-content .btn-left{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          padding: 3px 16px ;
  
      }
      .showcase .showcase-content .btn-right{
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          padding: 3px 16px ;
  
      }
      .showcase .navbar-bottom{ 
          background: linear-gradient(to right, #161916 , #578ad7);
          
      }
}
/* Scroll up Styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    border: 1px solid #fff;
    background: #0A2940;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 30px;
}